body {
   background: #fff;
   color:#000;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
	font-family:'FuturaPT Heavy', sans-serif;
}

@font-face {
    font-family: 'nightclubsregular';
    src: url('../fonts/nightclub-webfont.eot');
    src: url('../fonts/nightclub-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nightclub-webfont.woff2') format('woff2'),
         url('../fonts/nightclub-webfont.woff') format('woff'),
         url('../fonts/nightclub-webfont.ttf') format('truetype'),
         url('../fonts/nightclub-webfont.svg#nightclubsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.main-logo {
	padding-left: 50px;
	margin-bottom:24px;
	max-width:100%;
	max-height:343px;
}
.full-width.first-block {
	background: #fffee6 url('../images/first-bit-bg.jpg') no-repeat top center;
	padding-top:90px;
}

.first-block li {
	font-family: 'FuturaPT Heavy', sans-serif;
	font-size: 18px;
	border: 3px solid black;
    list-style: outside none none;
    text-align: center;
    margin-bottom: 20px;
    padding:2px;
}

.first-block li a {
	color:#000;
	text-decoration: none;
}

.first-block .top-image {
	margin-bottom: 45px;
}

.first-block .top-image img {
	max-width: 100%;
}

.first-block .summary-text {
	font-size: 16px;
	font-family: 'FuturaPT Heavy','FuturaPT Book',sans-serif;
}

.smart-links {
	padding-top: 34px;
}

.smart-links img {
	width:100%;
}

.full-width.sign-up {
	background: #fff url('../images/social-bg.png') no-repeat top center;
	background-size: auto;
}

.form {
	height:285px;
}

.full-width.twitter {
	height:200px;
	background: url('../images/twitter-bg.png') no-repeat top center;
	margin-bottom: 50px;
}

.twitter, .twitter a {
	color:#fff;
}

.twitter .col-md-4 {
	padding-top:20px;
}

.twitter h2 {
	font-size:23px;
	font-weight:300;
}

.twitter img {
	padding:65px;
}

.footer img {
	width:100%;
}

.footer a {
	color:#000;
}

.footer .col-md-3 {
	text-align: center;
}

.footer form {
	text-align: left;
}

.footer h4 {
	background-color: #000;
    border: medium solid #000;
    border-radius: 45px;
    color: #fff;
    margin-left: 95px;
    padding: 17px 17px 14px 9px;
    width: 60px;
}

.btn.send {
    background-color: #000;
    border: medium solid #000;
    border-radius: 45px;
    color: #fff;
    margin-left: 90px;
    padding: 17px 9px 14px;
    width: 60px;
    font-size:16px;
}

.instagram img, .facebook img {
	width:100%;
}

.facebook {
	padding-bottom: 90px;
}

.form input, .form select, .form label {
	border: 2px solid #fff;
	background:transparent;
	color: #fff;
	font-weight: bolder;
    margin-bottom: 20px;
    padding: 10px;
}

.footer-form input, .footer-form select, .footer-form label {
	border: 2px solid #000;
	background:transparent;
	color: #000;
	font-weight: bolder;
    margin-bottom: 20px;
    padding: 10px;
}

 .name, .lastname, .email {
    width: 47%;
}

.birthday {
	width:20%;
}

.form input[value="SEND"] {
	width:95%;
}

.footer-birthday {
	width:40%;
}

.footer-email, .footer-name, .footer-lastname {
	width:98%;
}

option {
	color:#000;
}

.form h1, h3, h4.map, .send {
	font-family:'nightclubsregular',sans-serif;
}

.fa-reply, .fa-retweet, .fa-star {
	color:#fecc00;
}

.reply-twitter, .retweet-twitter, .fav-twitter {
	text-align: center;
	color: #fecc00;
}

.fa-envelope-o, .fa-facebook, .fa-twitter, .fa-instagram {
    background-color: #000;
    border: 7px solid #000;
    border-radius: 18px;
    color: #fff;
    margin-right: 2px;
}

.fa-facebook {
	padding-left: 3px;
	padding-right: 3px;
}

@media (max-width: 900px) {
	.nav, .top-image, .summary-text, .form {
	text-align: center;
	}
	.full-width.first-block {
		padding-top:10px;
	}
	.main-logo {
		max-width: 40%;
	}
	.top-image img {
		max-width: 70%!important;
	}
	.summary-text {
		font-size:14px!important;
	}
	.name, .lastname, .email {
    width: 41%;
	}
	.twitter img {
    padding-left: 142px;
    padding-top: 60px;
	}
	.form input[value="SEND"] {
    width: 83%;
	}
	.footer-birthday {
    width: 76.5%;
	}
	.footer h4, .btn.send {
		 margin-left: 310px;
	}
}

@media (max-width: 400px) {
	.sign-up h1 {
		font-size: 25px;
	}	
	.birthday {
		width:41%;
	}
	.form input, .form select, .form label {
		margin-bottom: 10px;
	}
	.full-width.twitter {
		background-position: -730px;
	}
}
